# =========================
# KEIL / ARM TOOLCHAIN
# =========================
Objects/
Listings/
Debug/
Release/
*.o
*.axf
*.hex
*.bin
*.map
*.dep
*.lnp

# =========================
# STM32Cube / Generated
# =========================
*.bak
*.tmp

# =========================
# IDE SETTINGS
# =========================
.vscode/
*.uvoptx

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log